@use "../_bases" as *;

.top-commitment {

  &__items {
    display: flex;
    flex-direction: column;
    gap: 88px;
  }

  &__item {
    position: relative;
    padding-top: 105px;
    
    @include mq(sp) {
      padding-top: 50vw;
    }


    &:nth-child(odd) {

      .top-commitment__image-inner {
        left: 0;
      }

      .top-commitment__number {
        right: 27px;
        top: -0.8em;
        
        @include mq(sp) {
          top: 0;
          right: 4%;
        }
      }

      .top-commitment__text-inner {
        margin-left: auto;
        padding: 60px 45px 45px 70px;
        box-shadow: -20px 20px 0 $color-secondary;

        @include mq(md) {
          padding: 40px 50px 25px 25px;
        }

        @include mq(sp) {
          padding: 20px 15px 15px 15px;
          box-shadow: -4vw 4vw 0 $color-secondary;
        }
      }
    }

    &:nth-child(even) {
      .top-commitment__image-inner {
        right: 0;
      }

      .top-commitment__number {
        left: 27px;
        top: -1em;

        @include mq(sp) {
          top: 0;
          left: auto;
          right: 2%;
        }
      }

      .top-commitment__text-inner {
        margin-right: auto;
        padding: 60px 70px 45px 45px;
        box-shadow: 20px 20px 0 $color-secondary;
        
        @include mq(md) {
          padding: 40px 50px 25px 25px;
        }
        
        @include mq(sp) {
          padding: 20px 15px 15px 15px;
          box-shadow: 4vw 4vw 0 $color-secondary;
        }
      }
    }
  }

  &__image-inner {
    position: absolute;
    top: 0;
    width: 57.14%;
    aspect-ratio: 800 / 536;
    z-index: 1;

    @include mq(sp) {
      width: 100%;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__number {
    position: absolute;
    font-size: 180px;
    color: $color-lightgray;
    font-weight: 700;
    line-height: 1em;
    z-index: 3;
    letter-spacing: -0.05em;

    @include mq(content-width) {
      font-size: clamp(140px, 12.14vw, 170px);
    }
    
    @include mq(sp) {
      width: 26.67vw;
      aspect-ratio: 100 / 124;
      transform: translateY(-66%);
    }
  }

  &__number-text {

    @include mq(sp) {
      display: none;
    }
  }

  &__num-image {
    display: none;
    width: 100%;
    height: 100%;
    object-fit: contain;

    @include mq(sp) {
      display: block;
    }
  }

  &__text-inner {
    position: relative;
    min-width: 580px;
    width: 52.57%;
    border-radius: 35px;
    background-color: $color-white;
    z-index: 2;

    @include mq(md) {
      min-width: 480px;
    }

    @include mq(sp) {
      width: 86.93vw;
      min-width: auto;
      border-radius: 10px;
    }
  }
  
  &__item-title {
    font-size: 42px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap:14px;
    margin-bottom: 0.95em;
    
    @include mq(sp) {
      font-size: 26px;
      margin-bottom: 1.44em;
    }
  }

  &__item-title-en {
    color: $color-primary;
    font-size: 0.67em;
    font-weight: 400;
    line-height: 1em;
  }

  &__item-min-title {
    font-size: 28px;
    line-height: 1em;
    font-weight: 500;
    margin-bottom: 1.71em;
    line-height: 1.2em;

    @include mq(sp) {
      font-size: 20px;
      margin-bottom: 1.15em;
    }
  }

  &__accent {
    color: $color-secondary;
  }

  &__item-text {
    font-size: 20px;
    line-height: 1.7em;
    margin-bottom: 2.65em;

    @include mq(sp) {
      font-size: 16px;
      margin-bottom: 2.75em;
    }
  }

  &__link-inner {
    width: 170px;
    margin-left: auto;
  }

}